*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    
}
header .logo{
    margin-top: 30px;
}
header .menu{
    margin-top: 30px;
}
header .menu a{
    text-decoration: none;
    color: black;
    margin: 0 25px;
    font-weight: bold;
}
header .menu nav ul{
    display: flex;
    list-style: none;
    
}
.menu-sanpham{
    position: relative;
    padding-bottom: -10px;
    height: 50px;
}

.menu-con {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 1100px;
    transition: all 0.5s ease-in-out;
    /* overflow: hidden; */
}
.menu-con-t{
    box-shadow: gray 0 0 5px 0px;
    background-color: rgb(238, 238, 238);
    width: 130px;
    z-index: 1;
}
.menu-con-t li{
    line-height: 40px;
}
.menu-con-t li a{
    font-size: 15px;
    font-weight: 300;
}

.menu ul li a:hover{
    color: #1790CF;
}
.menu-sanpham:hover .menu-con{
    top: 10px;
}

.icon{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(120, 120, 120);
}
.icon a{
    text-decoration: none;
    color: black;
}
.icon a:hover{
    color: #1790CF;
}
.icon i {
    margin: 0 10px
}
.icon i span{
    position: absolute;
    font-size: 15px;
    color: red;
    top: 18px;
    z-index: 1;
}
.icon i:hover{
    color: #1790CF;
}